<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Name of the robot description parameter -->
  <arg name="description_name" default="arac_description"/>

  <!-- Set to true for simulation -->
  <arg name="simulation" default="false"/>

  <!-- The output can either be screen, log or an empty string -->
  <arg name="output" default="screen"/>

  <!-- Console launch prefix -->
  <arg name="launch_prefix" default="nice -n -20"/>


  <!-- Load configuration files -->
  <rosparam command="load" ns="arac_state_estimator" file="$(find arac_state_estimator)/config/parameters.yaml"/>
  <rosparam command="load" ns="arac_state_estimator" file="$(find arac_state_estimator)/config/publishers.yaml"/>
  <rosparam command="load" ns="arac_state_estimator" file="$(find arac_state_estimator)/config/subscribers.yaml"/>
  <rosparam command="load" ns="arac_state_estimator" file="$(find arac_state_estimator)/config/services.yaml"/>

  <!-- Load parameters from arguments -->
  <param name="arac_state_estimator/description_name" type="str" value="$(arg description_name)"/>
  <param name="arac_state_estimator/update_decimation" value="1"/>

  <!-- Load simulation specific parameters -->
  <param name="arac_state_estimator/controller/simulation"                   value="$(arg simulation)"/>
  <param name="arac_state_estimator/time_step"  value="0.0025" />

  <!-- Launch the locomotion controller -->
  <node name="arac_state_estimator"
        pkg="arac_state_estimator"
        type="arac_state_estimatornode"
        output="$(arg output)"
        launch-prefix="$(arg launch_prefix)" />


</launch>
