<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
      <plugin name="gazebo_ros_control"
        filename="libarac2_gazebo.so">
        <robotNamespace>arac2</robotNamespace> <!-- Currently unused -->
        <robotDescription>arac2_description</robotDescription>
        <robotBaseLink>base</robotBaseLink>
        <statePublisherRate>400.0</statePublisherRate>
      </plugin>
    </gazebo>

</robot>
